
.ad-banner-swiper {
  height: auto;
  max-height: 500rpx;
  min-height: 250rpx;
}
.ad-banner-swiper-item {
    height: 100%;
  .ad-image {
  width: 100%;
  height: 100%;
  display: block; // 防止图片底部空隙
}
}






