.index{
    padding-top: 100px;
    text-align: center;
    background-color: rgb(192, 218, 243);
    height: 100vh;
    .selection{
        text-align: center;
        margin: 20px;
        padding: 20px;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        font-size: 18px;
        color: #333;
    }
}